/* some style */

h3,h2,h1,p,ul,pre{
    margin-left: 100px;
    margin-right: 100px;
}

.plabel {
    font-weight: bold;
    padding-right: 5px;
}


.controls {
    padding: 25px;
    margin-left: 75px;
    width: 600px;
}

.canvas {
    margin-left: 100px;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px;
}
button {
    padding: 5px;
    margin-bottom: 10px;
}


#main-frame {
margin: 30px;
}