.nrepl-port
dining-philosophers/.DS_Store
dining-philosophers/figwheel_server.log
dining-philosophers/resources/.DS_Store
dining-philosophers/resources/public/.DS_Store
dining-philosophers/target/classes/META-INF/maven/chemical-computing/chemical-computing/pom.properties
dining-philosophers/target/stale/extract-native.dependencies
gamma/.DS_Store
gamma/.lein-repl-history
gamma/figwheel_server.log
gamma/resources/public/.DS_Store
gamma/target/classes/META-INF/maven/chemical-computing/chemical-computing/pom.properties
gamma/target/repl-port
gamma/target/stale/extract-native.dependencies
higher-order/.DS_Store
higher-order/figwheel_server.log
higher-order/resources/.DS_Store
higher-order/resources/public/.DS_Store
higher-order/target/classes/META-INF/maven/chemical-computing/chemical-computing/pom.properties
higher-order/target/stale/extract-native.dependencies
mail-system/.DS_Store
mail-system/figwheel_server.log
mail-system/resources/.DS_Store
mail-system/resources/public/.DS_Store
mail-system/target/classes/META-INF/maven/chemical-computing/chemical-computing/pom.properties
mail-system/target/stale/extract-native.dependencies